<div class="container">
    <div class="wrapper">
        <div class="header">
            <h1 class="title">Login</h1>
        </div>
        <div class="fields">
            <input matInput class="text-input" placeholder="Email">
            <input matInput class="text-input" placeholder="Password">
        </div>
        <div class="btns">
            <button class="button" mat-button>Login</button>
            <p (click)="openSignUpPopup()" class="text">Register</p>
        </div>
    </div>
</div>