    <app-header></app-header>
    <div class="container">
        <div class="form-area">
        <h1 class="main-header">Set your buisness details</h1>
        <p class="subline">Only locations can be changed later</p>
        <form>

            <input matInput class="text-input" placeholder="Business name">
            <p class="warning-text">Cannot be changed later!</p>

            <h2 class="subtitle">Locations:</h2>

            <div class="location-block">
                <input type="text" class="text-input" placeholder="Address"/>
                <button class="remove-button">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z" fill="white"/>
                        </svg>
                </button>
                <br/>
                <input type="text" class="text-input" placeholder="Phone number"/>
            </div>

            <div class="location-block">
                <input type="text" class="text-input" placeholder="Address"/>
                <button class="remove-button">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z" fill="white"/>
                        </svg>
                </button>
                <br/>
                <input type="text" class="text-input" placeholder="Phone number"/>
            </div>
                <button class="add-button">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 11.4286H11.4286V20H8.57143V11.4286H0V8.57143H8.57143V0H11.4286V8.57143H20V11.4286Z" fill="white"/>
                        </svg>
                        
                </button>
        </form>
        </div>
        <div class="phone-next">
            <div class="phone-box">
        
            </div>
            <button mat-button
                    class="button" 
                    routerLink="/card-example"
                    routerLinkActive="active">Create</button>
        </div>

    </div>
    