<header>
    <div class="wrapper">
        <div class="first-section">
            <p class="text">COVID-19</p>
            <p class="text">
                Our contactless technology helps reducing the risk of spreading viruses.
            </p>
        </div>
        <div class="last-section">
            <p (click)="openSignUpPopup()" class="text" *ngIf="!isUserLogged; else userLogged">
                Log in / Register
            </p>
            <ng-template #userLogged>
                <img src="../../assets/images/profile-avatar.png" alt="profile avatar" (click)="signOut()">
            </ng-template>
        </div>
    </div>
</header>