<div class="container">
    <div class="wrapper">
        <div class="left-section">
            <h1 class="title">Simple and easy to use</h1>
            <div class="create-card">
                <p class="text">See how it works</p>
                <button class="button" 
                        type="button"
                        routerLink="/theme-selection"
                        routerLinkActive="active">Create your card</button>
            </div>
        </div>
        <div class="right-section">
            <img src="../../assets/images/homepage.png" alt="homepage image">
        </div>
    </div>
</div>