.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;

    .counter-section {
        .counter {
            display: flex;
            margin-top: 60px;
            align-items: center;
            width: 255px;
            justify-content: space-between;

            h3 {
                margin: 0;
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 45px;
                line-height: 31px;
                letter-spacing: 0.0075em;
                color: #000000;
            }

            .btn {
                height: 61px;
                width: 61px;
                border-radius: 50%;
                border: 2px solid #9DA2AC;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 60px;

                &:focus {
                    outline: none;
                }
            }
        }
    }

    

}

button {
    cursor: pointer;
}