<div class="container">
  <div class="adding-info">
    <h1 class="title">Number of punches</h1>
    <p class="text">Can be changed later</p>
    <div class="counter">
      <h2 class="subtitle">Reward (Optional):</h2>
      <p class="text">Set the rewards your customers will receive (up to 18 characters).</p>
      <input type="text" class="text-input">
    </div>
  </div>
  <div class="phone-next">
    <div class="phone-box">
      <div class="circles">
        <div class="circle-item">1</div>
        <div class="circle-item">2</div>
        <div class="circle-item">3</div>
        <div class="circle-item">4</div>
        <div class="circle-item">5</div>
        <div class="circle-item">6</div>
        <div class="circle-item">7</div>
        <div class="circle-item">8</div>
      </div>
      <hr class="line">
      <div class="details">
        <p class="text">Cup of coffee</p>
      </div>
    </div>
    <button class="button"
            routerLink="/business-details"
            routerLinkActive="active">Next</button>
  </div>

</div>
