<div class="container">
    <div class="wrapper">
        <div class="header">
            <h1 class="title">Register</h1>
        </div>
        <div class="fields">
            <input matInput class="text-input" placeholder="Email">
            <input matInput class="text-input" placeholder="Re-enter Email">
            <input matInput class="text-input" placeholder="Password">
            <input matInput class="text-input" placeholder="Re-enter Password">
        </div>
        <div class="btns">
            <button class="button" mat-button>Register</button>
            <p (click)="openSignInPopup()" class="text">Login</p>
        </div>
    </div>
</div>