<div class="container">
  <div class="theme-sel">
    <h1 class="title">Select your name</h1>
    <p class="subtitle">Can be changed later</p>
    <div class="pics">
      <div class="pic-item"><img src="../../assets/images/1.png" alt=""></div>
      <div class="pic-item"><img src="../../assets/images/2.png" alt=""></div>
      <div class="pic-item"><img src="../../assets/images/3.png" alt=""></div>
      <div class="pic-item"><img src="../../assets/images/4.png" alt=""></div>
      <div class="pic-item"><img src="../../assets/images/5.png" alt=""></div>
      <div class="pic-item"><img src="../../assets/images/6.png" alt=""></div>
      <div class="pic-item"><img src="../../assets/images/7.png" alt=""></div>
      <div class="pic-item"><img src="../../assets/images/8.png" alt=""></div>
      <div class="pic-item"><img src="../../assets/images/9.png" alt=""></div>
      <div class="pic-item"><img src="../../assets/images/10.png" alt=""></div>
      <div class="pic-item"><img src="../../assets/images/11.png" alt=""></div>
      <div class="pic-item"><img src="../../assets/images/12.png" alt=""></div>
      <div class="pic-item"><img src="../../assets/images/13.png" alt=""></div>
      <div class="pic-item"><img src="../../assets/images/14.png" alt=""></div>
      <div class="pic-item"><img src="../../assets/images/16.png" alt=""></div>


    </div>
  </div>
  <div class="phone-next">
    <div class="phone-box">

    </div>
    <button class="button">Next</button>
  </div>
</div>
