<app-header></app-header>
<div class="container">
  <div class="theme-sel">
    <h1 class="title">Select your name</h1>
    <p class="text">Can be changed later</p>
    <div class="pics">
      <div class="pic-item" *ngFor="let pic of pictures">
        <img src='../../assets/images/{{ pic }}.png' alt="{{pic}}" (click)="setPicture(pic)">
      </div>
    </div>
  </div>
  <div class="phone-next">
    <!-- <div class="phone-box" *ngFor="let pic of selectedPic" style="background: url(../../assets/images/{{pic.id}}.png);">

    </div> -->
    <app-phone></app-phone>
    <button mat-button class="button" routerLink="/punches-count" routerLinkActive="active"
    (click)="addCircles()">Next</button>
  </div>
